.select {
  background: orange
}

.item-container {
  left: 0px;
  right: 0px
}

.input {
  background: inherit;
  border: none;
  outline: none
}

.input[data-open='true'] {
  border-bottom: 1px solid #777;
}

.selected-item:hover {
  background: darken(orange, 15%);
}