/*
 *
 * WRAPPER
 *
 */

 .select {
  position: relative;
  display: inline-block;

  background: white;
  border-radius: 3px;
  padding: 4px;
  outline: none;
}


.select[data-is-open='true'] {
  border-radius: 3px;
}

.select * {
  box-sizing: border-box;
  user-select: none;
}

/*
 *
 * HEADER
 *
 */

.header {
  display: flex;
}

.header > div:nth-child(1) {
  flex-grow: 1;
}

.header > div:nth-child(2) {
  flex-grow: 0;
}

.down-arrow {
  width: 1em;
  padding: 2px;
  vertical-align: middle;
}

/*
 * SELECTION LIST
 */

 .selected-item {
   cursor: default;
   display: inline-block;
   border-radius: 3.5px;
   padding: 2px 3px 2px 5px;
   margin: 2px;
}

.cmd-remove-item {
  padding: 3px 2px 3px 3px;
}

/*
 *
 * FILTER INPUT
 *
 */

.txt-filter {
  cursor: auto;
  font: inherit;
  width: 100%;
  margin: 0px;
  color: inherit;
}

/*
 *
 * ITEM LIST
 *
 */


.item-container {
  position: absolute;
  top: calc(100% - 1px);
  left: -1px;
  right: -1px;

  background: inherit;
  transition: height 0.2s ease;
  overflow: hidden;
  border-radius: 0 0 3px 3px;
  border: inherit;
  border-top: 0px solid transparent;
  border-bottom: 1px solid transparent;
}

.item-container[data-is-open='true'] {
  border-bottom: inherit;
}

.item-container > div  {
  padding: 5px;
}

.item-list {
  max-height: calc(100vh / 3);
}

.item-container .txt-filter {
  margin-bottom: 10px;
  position: sticky;
}
