.select {
  background: #FAFAFA;
  border: 1px solid #999;
  padding: 4px
}

.item-container {
  left: -1px;
  right: -1px
}

.input {
  background: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
}

.input[data-open='true'] {
  border-bottom: 0.4px solid #777;
}

.selected-item {
  background-color: #E5E5E5;
  border: 0.5px solid #999;
}

.selected-item:hover {
  background: darken(#E5E5E5, 11%);
}