.select {
  background: #eee;
  border: 1px solid #999;
  box-shadow: #555 0px 0px 2px;
}

.input {
  background: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
}

.input[data-open='true'] {
  border-bottom: 0.4px solid #777;
}

.selected-item {
  background: lightblue;
  border: 1px solid #7E9EA8;
  box-shadow: #555 0px 0px 2px;
  color: #222
}

.item {
  padding: 3px;
}

.item:hover {
  background: lightskyblue;
}

.downArrow {
  color: #333;;
  font-size: 17px;
  font-weight: bolder;
}
