.select {
  background: #555;
  color: #ddd;
}

.input {
  background: inherit;
  border: none;
  outline: none
}

.input[data-open='true'] {
  border-bottom: 1px solid #777;
}

.item-container {
  left: 0px;
  right: 0px
}

.item-container > div {
  background: #444
}

.selected-item {
  background: #999;
  color: #222
}

.downArrow {
  color: white;
  font-size: larger;
  font-weight: bolder;
}