.select {
  background: linear-gradient(to right, orange, #FFB52E);
}

.item-container {
  left: 0px;
  right: 0px
}

.input {
  background: inherit;
  border: none;
  outline: none
}

.input[data-open='true'] {
  border-bottom: 1px solid #777;
}

.selected-item {
  border-radius: 0px;
  border-right: 1px solid darken(#ffa500, 10%);
  color: #222
}

.selected-item:last-of-type {
  border-right: none;
}